:root{
    --navBarColor:rgb(41, 39, 39);
    --navBarHover:black;
    --palette1:#110d3e;
    --palette2:#7b3359;
    --palette3:#a06a73;
    --palette4:#b4195f;
    --palette5:#fefefe;
}

body
{
    margin: 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:var(--palette5);
    width: 100vw;
}
body p{
    text-align: justify;
    padding-right: 10px;
}

.boton{
    display:inline; 
    vertical-align: middle;
    
}

.nombre{
    float: left;
    width:20%;
    padding: 15px;
    
}

#links{
    width: 40%;
    float: right;
}

.hamburger{
    overflow: hidden;
    display: none;
}

.hamburger i {
    display: none;
}

h3{
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:whitesmoke;
    word-wrap: none;
    text-align: center;
    text-decoration: none;
    padding: 1%;
    word-wrap: none;
}

li.boton a{
    text-decoration: none;
    padding: 3% 6% 3% 6%;
    color: whitesmoke;
    float: right;
    width: inherit;
}

a
{
    text-decoration: none;
}

a:hover{
    background-color:var(--palette);
}

ul{
    list-style-type: none;
    background-color:var(--palette1);
    padding: 0%;
    margin: 0%;
    overflow:hidden;
    width: 100%;
}

.sticky{
    position: -sticky;
    position: sticky;
    top: 0;
}

.presentacion{
    text-align: center;
    background-color:lightcyan;


}

.title{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    align-items: center;
    display:flex;
    flex-direction: column;
}

.title p{
    
    width: 70%;
  
}

#proyectos{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto;
    background-color: rgb(255, 251, 251);
    grid-gap: 5px;
    margin-top: 1%;
}

#proyectos li div{
    display: grid;
    grid-template-rows:20% 20% 20% 20% 20%;
    grid-template-columns: auto auto;
    background-color: var(--palette3);
    column-gap: 2%;
    grid-column-start: 1;
    grid-column-end: 2;
    
    grid-row-start: 2;
    grid-row-end: 5;
 
    
  
}

#proyectos li div div{
    display: block;
    grid-row-start: 2;
    grid-row-end: 4;

}

#proyectos li div h2{
    grid-column-start: 2;
    grid-column-end: 3;
}

.proyecto1{
    grid-column-start: 2;
    grid-row-start: auto;
    grid-row-end: auto;
    grid-column-end: 3;
}

#mainP{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column:2;
    font-size: 14px;
}
.proyecto1 a{
    grid-column: 2;
    grid-row: 5;
    align-self: end;
}
#dashboard{
    text-align: center;
    color: white;
    background-color:var(--palette1);


}
#dashboard h1{
    padding: 10px;
}

#contacto div ul li{
    display: inline-block;
    text-align: center;
    color: var(--palette5);
    width: 49%;
    padding: 0.4%;
    
    

}
#contacto div ul li i{
    font-size: 30px;
    color: var(--palette5);
    
}



/*Parte para mobile*/
@media only screen and (max-width: 840px) {
    ul.navbar li.nombre {
        float: none;
        width: 50%;
    }
    .hamburger i {
        position: fixed;
        display: block;
        top: 24px;
    
        color: whitesmoke;
        font-size: 24;
       
        right: 6%;
    }
    .hamburger{
        display:block;
    }
    
    ul.navbar li.boton{
        overflow: hidden;
        width: 100%;
        text-align: center;
    
    }
    #links{
        display:none;
        width: 100%;
    }
    ul.navbar li.boton{
        float: none;
        width: 100%;

    }

    li.boton a{
        text-decoration: none;
        padding: 3% 2% 3% 6%;
    }
    #proyectos li div{
        margin-top: 2%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
        background-color:var(--palette3);
        grid-gap: 5px;
    }
    #mainP{
        grid-row:4;
        grid-column: 1;
    }

    #proyectos li div div {
       
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        
    }
    #proyectos li div div img{
        width: 100%;
        height: 100%;
    }
   

    #proyectos li div h2 {
        grid-column-start: 1;
        grid-column-end: 1;
    }
    #proyectos li div p{
        grid-column: 1;
    }
    #proyectos li div a{
        grid-column: 1;
        grid-row:5;
    }
  


   




    #contacto div ul li{
        display: inline-block;
        text-align: center;
        color: var(--palette5);
        width: 47%;
        padding: 0.4%;
        
        
    
    }

  


}


@media only screen and (max-width: 1100px) {

    #contacto div ul li{
       width: 47%;         
    
    }

}

