body
{
    margin: 0%;
}
.boton{
    display:inline; 
    vertical-align: middle;
}

.nombre{
    float: left;
    width:20%;

}
#links{
    width: 40%;
    float: right;
}

.hamburger{
    overflow: hidden;
    display: none;
}
.hamburger i {
    display: none;
}



h3{
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:whitesmoke;
    word-wrap: none;
    text-align: center;
    text-decoration: none;
    padding: 1%;
    word-wrap: none;




}

li.boton a{
    
    text-decoration: none;
    padding: 3% 6% 3% 6%;
    color: whitesmoke;
    float: right;
    width: inherit;
}

a:hover{
    background-color: black;
    
}

ul{
    list-style-type: none;
    background-color: rgb(41, 39, 39);
    padding: 0%;
    margin: 0%;
    overflow:hidden;
    width: 100%;
    
    
    
}

/*Parte para mobile*/
@media only screen and (max-width: 760px) {
    ul.navbar li.nombre {
        float: none;
        width: 50%;
    }
    .hamburger i {
        position: absolute;
        display: block;
        right: -29%;
        top: 5px;
        width: 40%;
        color: whitesmoke;
        font-size: 20;
        
    }

    .hamburger{
     
        display:block;
    }
    
    ul.navbar li.boton{
        overflow: hidden;
        width: 100%;
       
        text-align: center;
    
    }
    #links{
        display:none;
        width: 100%;
    }
    ul.navbar li.boton{
        
        float: none;
        width: 100%;

    }

    .presentacion{
        text-align: center;
    }

    
       
}

