body
{
    margin: 0%;
}

.boton{
    display:inline; 
    vertical-align: middle;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nombre{
    float: left;
    width:20%;
    padding: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#links{
    width: 40%;
    float: right;
}

.hamburger{
    overflow: hidden;
    display: none;
}

.hamburger i {
    display: none;
}

h3{
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:whitesmoke;
    word-wrap: none;
    text-align: center;
    text-decoration: none;
    padding: 1%;
    word-wrap: none;
}

li.boton a{
    text-decoration: none;
    padding: 3% 6% 3% 6%;
    color: whitesmoke;
    float: right;
    width: inherit;
}

a
{
    text-decoration: none;
}

a:hover{
    background-color: black;
}

ul{
    list-style-type: none;
    background-color: rgb(41, 39, 39);
    padding: 0%;
    margin: 0%;
    overflow:hidden;
    width: 100%;
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.presentacion{
    text-align: center;
    background-color:lightcyan;


}

.title{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    
}

#proyectos{
    display: grid;
    grid-template-columns: 2fr 70% 2fr;
    grid-template-rows: auto;
    background-color: rgb(255, 251, 251);
    grid-gap: 5px;
    margin-top: 1%;
}

#proyectos li div{
    display: grid;
    grid-template-rows:25% 25% 25% 25%;
    grid-template-columns: auto auto;
    background-color:grey;
    column-gap: 2%;
    border-radius: 3%;
}

#proyectos li div img{

    grid-column-start: 1;
    grid-column-end: 2;
    
    grid-row-start: 2;
    grid-row-end: 5;

}

#proyectos li div h2{
    grid-column-start: 2;
    grid-column-end: 3;
}

.proyecto1{
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: auto;
    grid-row-end: auto;
    background-color: rgb(218, 216, 216);
}
#dashboard{
    text-align: center;
    color: white;
    background-color: black;
}
#dashboard i {
    font-size: 30px;
    padding-left: 3px;
    padding-right: 3px;
    color: white;
}

/*
.proyecto2{
    grid-column-start:3;
    grid-column-end: 4;
    grid-row-start: auto;
    grid-row-end: auto;
    background-color: rgb(177, 177, 177);
    
}
*/
/*Parte para mobile*/
@media only screen and (max-width: 760px) {
    ul.navbar li.nombre {
        float: none;
        width: 50%;
    }
    .hamburger i {
        position: absolute;
        display: block;
        right: -29%;
        top: 5px;
        width: 40%;
        color: whitesmoke;
        font-size: 20;
        
    }

    .hamburger{
        display:block;
    }
    
    ul.navbar li.boton{
        overflow: hidden;
        width: 100%;
        text-align: center;
    
    }
    #links{
        display:none;
        width: 100%;
    }
    ul.navbar li.boton{
        float: none;
        width: 100%;

    }

    #proyectos{
        margin-top: 2%;
        display: grid;
        grid-template-columns: 2fr 5fr 2fr;
        grid-template-rows: auto;
        background-color: rgb(255, 251, 251);
        grid-gap: 5px;
    }

    .proyecto1{
        grid-column-start:2;
        grid-column-end: 3;
        grid-row-start: auto;
        grid-row-end: auto;
        background-color: rgb(218, 216, 216);
            
    }

    .proyecto2{
         grid-column-start:2;
         grid-column-end: 3;
         grid-row-start: auto;
         grid-row-end: auto;
         background-color: rgb(177, 177, 177);
         
    }



}

